$paynes-gray: hsla(213, 24%, 46%, 1);
$blue-green: hsla(197, 61%, 47%, 1);
$robin-egg-blue: hsla(184, 77%, 48%, 1);
$turquoise: hsla(173, 83%, 49%, 1);
$spring-green: hsla(147, 92%, 50%, 1);
$rich-black: hsla(191, 40%, 8%, 1);
$lavender-blush: #fceff9ff;
